HOSTNAME=localhost
PORT=1337
BASE_URL={{ extcfg.nightscout.base_url }}
API_SECRET={{ extcfg.nightscout.api_secret }}
INSECURE_USE_HTTP=true

MONGO_CONNECTION=mongodb://{{ extcfg.mongodb.nightscout_user }}:{{ extcfg.mongodb.nightscout_password}}@localhost:27017/nightscout

ENABLE=bridge

DEVICESTATUS_ADVANCED="true"
BRIDGE_SERVER=EU
BRIDGE_USER_NAME={{ extcfg.nightscout.dexcom_user }}
BRIDGE_PASSWORD={{ extcfg.nightscout.dexcom_password }}

AUTH_DEFAULT_ROLES=readable
DISPLAY_UNITS=mg/dl
BG_HIGH=260
BG_TARGET_TOP=180
BG_TARGET_BOTTOM=80
BG_LOW=55
TIME_FORMAT=24